<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Работа с данными</title>
        <link rel="stylesheet" href="style.css"> 
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.9/angular.min.js"></script>
        <script src="employees.js"></script>   
    </head>
    <body>
        <div class="col-sm-12" data-ng-app="EmployeesApp" data-ng-controller="EmployeesCtrl">
          <div class="col-sm-8">
              <h1>Структура и сотрудники компаний</h1>
               <label class="list-inline">Добавить компанию</label>
               <input type="text" class="input-text" ng-model="newEmployee.name" ng-enter="addNewComp(newEmployee.name)">
               <button class="btn btn-default" ng-click="addNewComp(newEmployee.name)">Добавить</button>
              
              <div class="open-save-buttons">
                  <div class="div-upload btn btn-primary">
                        <span>Открыть JSON файл</span>
                        <input type="file" class="input-upload" fileread>        
                    </div>            
                    <button class="btn btn-primary" ng-click="saveToJSONFile()">Сохранить в JSON файл </button>
              </div>    

                <script type="text/ng-template" id="treeLevel.html">
                    <ul class="employeeList" >                    
                        <li ng-repeat="employee in employees track by $index" id="li{{employee.id}}">                       
                            <div class="employee-hover" drag-employee="employee" id="{{employee.id}}">                            
                                <button class="btn btn-link holder" draggable="true"><span  class="glyphicon glyphicon-th"></span></button>
                                <button class="close" ng-click="remove(employee)">&times;</button> 
                                <button class="btn btn-link" ng-click="add(employee)"><span class="glyphicon glyphicon-plus"></span></button>            
                                <input class="input-text" type="text" ng-model="employee.name" autosize>
                                 <!-- <span>{{employee.name}} - {{employee.id}}</span> -->
                            </div>                                              
                            <div ng-include=" 'treeLevel.html'"
                                onload="employees = employee.children">
                            </div>                    
                        </li>

                    </ul>
                </script>
                <div class="employees" ng-include=" 'treeLevel.html' ">
                </div>                            
            </div>
            <div class="col-sm-4">
                <h2>Стуктура JSON-файла</h2>
                <pre> {{employees | json}}
                </pre> 
            </div>
        </div>
    </body>
</html>